!/log/.keep
!/tmp/.keep
**.orig
*.bowerrc
*.codekit
*.codekit-cache
*.pem
*.rbc
*.scssc
*.sublime-project
*.sublime-workspace
*.swp
*~
.DS_Store
.powenv
.project
.secret
.yarn-integrity
/.bundle
/.vscode
/log
/log/*
/node_modules
/tmp/*
icon
yarn-debug.log*
